
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimalGrooming</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/lux.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-image: url("/pics/petsit.jpg");
            background-attachment: fixed
        }
    </style>
    <style>
        body {
            background-image: url("/pics/Pet.jpg");
            background-position: top left;
        }
    </style>
   

</head>

</html> 
      




