
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<img src="~/Images/KaylaDogGroomer.jpg" width="200" />
<style>
    body{
        background-color:lightgray;

    }
</style>
<p> My name is Kayla and I have been grooming animals for almost my enitire life. I also do mobile grooming 
    where I can groom your pet in your home where you can watch. There are many service you can choose from.
        A little bit about myself, I served in the Marine corps and did 4 years with one deployment. I have 
    a service animal and also train dogs as a hobby. 
        If you would like to check out my facebook grooming page you can with this link.
    </p>

