
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<img src="~/Images/KaylaDogGroomer.jpg" width="200" />
<style>
    body{
        background-color:lightgray;

    }
</style>
<p> My name is Kayla and I have been grooming animals for almost my enitire life. I also do mobile grooming 
    where I can groom your pet in your home where you can watch. There are many service you can choose from.
        A little bit about myself, I served in the Marine corps and did 4 years with one deployment. I have 
    a service animal and also train dogs as a hobby. 
        If you would like to check out my facebook grooming page you can with this link. 
    </p>
<a href="https://m.facebook.com/kaylasprettypaws">
    Check out my grooming facebook page!
</a>
<a href="https://www.rover.com/sit/kaylak17">
    If you need pet sitting, check me out here!
</a>
<a href="https://www.thumbtack.com/nj/trenton/mobile-dog-grooming/kaylas-pretty-paws-my-home-due-to-covid19/service/339699406164303893">
    To leave a review or schedule an appointment click here!
</a>

