@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<img class="img-fluid mx-auto" src="~/Images/petsit.jpg" alt="GroomingAnimals" />
<style>
    body {
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: lightslategrey;
    }
</style>

<img class="img-fluid mx-auto" src="~/Images/Pet.jpg" alt="AnimalBarber" width="100" height="100" />
<style>
    body {
        background-position: top left
    }
</style>
