
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pet Grooming Services</h1>

<img src="~/Images/bath-and-grooming-services.jpg" alt="Grooming Services" align="middle" width="400" height="400" />

